@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

* {
    font-family: 'Sono', sans-serif;
}

body {
    margin: 0;
}

nav, main {
    padding-left: 15px;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FF5A33;
}

h1 {
    color: green
}

hr {
    margin: 0;
}

.add-margin-bot {
    margin-bottom: 20px;
}

.flex-row {
    display: flex;
    gap: 15px;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding: 5px 0 0 5px;
    width: 100%;
    background-color: #B4CF66
}

a:hover {
    color: green;
}

a {
    text-decoration: none;
}

div>a {
    color: green;
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.striped>div:nth-child(even) {
    background-color: rgb(201, 200, 200);
}
